<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon color="primary" name="water"></ion-icon>
      {{ marker.title.split(",")[0] }}
    </ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-title>{{ marker.title.split(",")[1] }}</ion-title>
    <ion-title>{{ marker.title.split(",")[2] }}</ion-title>
    <ion-title>Latitud: {{ marker.latitude }}</ion-title>
    <ion-title>Longitud: {{ marker.longitude }}</ion-title>
  </ion-content>

  <ion-button shape="round" (click)="goGoogleMaps()"
    >Abrir en Google Maps <ion-icon name="logo-google"></ion-icon>
  </ion-button>
</ion-header>
