<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="water"></ion-icon>
      <span>AquaMad</span>
    </ion-title>
  </ion-toolbar>

  @if (showProgressBar) {
  <ion-progress-bar [value]="loadingProgress / 100" type="determinate">
  </ion-progress-bar>

  <!-- Mostrar contador de fuentes cargadas -->
  <div class="loading-info">
    <span
      >Cargando fuentes... {{ watterLocations.length }} / {{
      totalExpectedFountains }} ({{ loadingProgress.toFixed(0) }}%)</span
    >
  </div>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <capacitor-google-map #map></capacitor-google-map>

    @if (!loading && watterLocations.length > 0) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="openFountainsList()">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="primary" (click)="centerOnMyLocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    }
  </div>
</ion-content>
